.users__container {
    display: flex;
    flex-direction: column;
}

.users__item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    display: flex;
}

.users__avatar {
    display: flex;
    flex-direction: column;
}

.users__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.users__content span {
    display: block;
}

.selectedPage {
	font-weight: bold;
}

.paginationWrapper span {
	margin: 0 5px;
	cursor: pointer;
}
